@use './constants.scss' as v;

.catalog{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3rem;
    .catalog__subtitle{
        color: #fff;
        opacity:v.$pCL;
        transition: all .3s ease;
        cursor: default;
    }
    .catalog__subtitle:hover{
        opacity: 1;
    }
}