@use './../styles/constants.scss' as v;
.header{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: v.$bg;
    .header__logo{
        color: #fff;
        opacity: 0.5;
        font-size: 24px;
        cursor: pointer;
        transition: all .3s ease;
    }
    .header__logo:hover{
        opacity: 1;
    }
    .header__media{
        display: flex;
        gap: 30px;
        .media__basket{
            cursor: pointer;
            opacity: 0.5;
            transition: all .3s ease;
        }
        .media__user{
            cursor: pointer;
            opacity: 0.5;
            transition: all .3s ease;
        }
        .media__basket:hover{
            opacity: 1;
        }
        .active{
            opacity: 1;
        }
        .media__user:hover{
            opacity: 1;
        }
    }
    .open-cart{
        position: absolute;
        width: 300px;
        height: 300px;
        right: 100px;
        top: 90px;
        display: flex;
        padding: 2rem;
        flex-direction: column;
        background-color: #fff;
        gap: 100px;
        border-radius: 5px;
        .cart__subtitle{
            color: v.$bg;
            font-size: 30px;
        }
        .cart__inner{
            display: flex;
            justify-content: center;
            .inner__text{
                color: v.$bg;
            }
        }
    }
}